.container { max-width: 128em; margin:0 auto;
    &.mobile {margin-top:7em;}
}

.overlay { position: fixed;width:100%; height:100%; background:rgba($black, 0.4); left:0; top:0; @include transitionIn; visibility: hidden; opacity: 0;
    &.active {visibility: visible; opacity: 1;}
}