.footer { background: $purple; padding: 3em 2em; display: flex; flex-wrap: wrap;
    &__col {width: calc(100% / 2); margin:0 0 2em;
        &:nth-of-type(3), &:nth-of-type(4) { width:100%;}
        @include mq($from:phablet) {
            width: calc(100% / 3);
            &:nth-of-type(3) {
                width: calc(100% / 3);
            }
        }
        @include mq($from:desktop) {
            width: calc(100% / 4);
            &:nth-of-type(3), &:nth-of-type(4) {
                width: calc(100% / 4);
            }
        }
        img {margin:0 0 1.5rem;}
    }
    a, li {color:$white;font-size:1.6rem; }
    a { @include transitionIn;
        &:hover, &:focus {color:darken($white,10%); text-decoration: none;}
    }
    ul {
        li {margin:0 0 0.5rem;}
    }
    .title, .small {margin:0 0 1.5rem;}
}