.header { display:flex; padding:1em 2em; align-items: center;
    &.sticky {position: fixed;top:0; width:100%;background:$white; z-index:1;}
    i {
        &.fa-bars {
            font-size: 2.5em;
            color: $black;
        }
    }
    .navbar{
        &__toggle {margin-left:auto;
            @include mq($from:desktop) {display:none;}
        }
    }
}

.search {
    &__wrapper {margin-left:auto; align-self: center;}
    &-label span { position: absolute; clip: rect(1px, 1px, 1px, 1px); padding: 0; border: 0; height: 1px; width: 1px; overflow: hidden; }
    form { font-size:1.6rem;display: flex;
        input {
            &[type="text"] { font-size:1.6rem; color:$black; padding:0.9rem 1.5rem; line-height: 1em; border:1px solid $black;
                @include input-placeholder {font-size:1.6rem; color:$black;}
            }
            &[type="button"] {
                width: 5.2rem;
                color: $white;
                background: $purple2;
                font-weight: bold;
                border: 0;
                @include transitionIn;
                &:hover, &:focus {background:lighten($purple2, 10%)}
            }
        }
    }
}