.hero {
    background-image: linear-gradient(-140deg, #7C3078 7%, #594981 27%, #2B6C8F 62%, #008D9B 100%);
    padding: 10em 2em; position: relative; overflow: hidden;
    @include resp((padding-top, padding-bottom), 30px, 100px);
    &__meta {max-width: 40em;
        h1, p { color:$white;}
        p {margin-top: 1em;}
    }
    &__image { position: absolute; bottom: 0; max-height: 100%; width: auto; right: 2em; 
        svg { display: block; max-height: 100%; width: auto; 
            @include mq($until:810px) {display:none;}
        }
    }
}