.intro { padding: 0 2em 3em;
    &__wrapper {display:flex;
        @include mq($until:tablet) {flex-direction: column;}
    }
    .col { position: relative;
        &:nth-child(1) { width: 100%; display: flex; align-items: center;
            @include mq($from:tablet) {width:32%;}
            &:before { content: ''; background: $grey; position: absolute;  z-index:-1; height: 50%; width: 100%; right:0; bottom:0;
                @include mq($from:tablet) {height: 100%; width: 5.5em; right:0; top:0; bottom:unset;}
            }

        }
        &:nth-child(2) { background:$grey; padding:7em 8em 7em 3em; width:68%; 
            @include mq($until:tablet) {
                width: 100%;
                padding: 3em;
            }
        }
        h2 {margin-bottom:2rem;}
        p {margin-bottom:1.777777778em; line-height:1.333333333em;
            &:last-of-type {margin-bottom:0;}
        }
        svg { margin-left: auto; max-width: 80%; margin: 0 auto; height:auto;
            @include mq($from:tablet) {max-width: 100%;}
        }
    }
}