.menu {
    &__mobile { position: fixed; width: 100%; height: auto; background: white; left: 0; top: 70px; border-top:1px solid $black; padding:3em 2em;left: 100%; @include transitionIn;
        &.active {left:0;}
        li {margin:0 0 2em;}
        input[type="text"] { width:100%;}
    }
    li {
        @include mq($from:desktop) {float:left;
            &:not(:last-of-type) {padding-right:20px;}
        }
        a { font-size: 1.6em; font-weight: bold; text-decoration: none; border-bottom: 2px solid transparent; color: $black; @include transitionIn;
            &:hover,&:focus,&:active {border-color:$purple;}
        }
    }
}
