.service {
    padding: 3em 2em;
    margin:1em;
    width:100%;
    @include mq($from:phablet) { width:calc(100% / 2 - 2em); }
    @include mq($from:desktop) { width:calc(100% / 3 - 2em); }
    @include mq($from:desktopL) { width:calc(100% / 4 - 2em); }
    &s{
        padding:2em 1em;
        display:flex; 
        flex-wrap: wrap;

    }
    h2, p {color:$white;}
    p {margin:1em 0;}
    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        height:100%;
    }
    svg { width:4.2em;height:4.2em; margin-top:auto; margin-left: auto;
        path {fill:$white;}
    }
}