//Basic
*, *:before, *:after {box-sizing:border-box;}
*:focus {outline:none;}
html {overflow-y:scroll;overflow-x:hidden; font:62.5%/1.5 $primary; 
	&.noscroll {overflow-y:hidden;}
}
body {max-width: 100vw; overflow:hidden; margin:0; @include antialias; text-rendering:optimizeLegibility;}
img {display:block; max-width:100%; height:auto;}
svg {display: block;}

body {overflow: hidden !important;}

h1 {
	@include resp(font-size, 32px, 48px);
	line-height: 1.08em;
}

h2 {
	@include resp(font-size, 22px, 30px);
	line-height: 1.366666667em;
	font-weight:normal;
}


a { }

p {
	@include resp(font-size, 16px, 18px);
	&.large {
		@include resp(font-size, 18px, 22px);
	}
	&.strong {font-weight:bold;}
	&.small {@include resp(font-size, 14px, 16px);}
}