// Font smoothing
@mixin antialias {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Placeholder
    // Usage: @include input-placeholder {}
    @mixin input-placeholder {
        &.placeholder { @content; }
        &:-moz-placeholder { @content; }
        &::-moz-placeholder { @content; }
        &:-ms-input-placeholder { @content; }
        &::-webkit-input-placeholder { @content; }
    }

// Media Queries - https://github.com/sass-mq/sass-mq/
$mq-breakpoints: (mobile: 320px,
    mobileX: 450px,
    phablet: 600px,
    tablet: 740px,
    desktop: 980px,
    desktopL: 1024px,
    wide: 1400px,
    xwide: 1500px);

@import "mq";

// Simple Transitions
@mixin transitionIn {
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}

@mixin transitionOut {
    transition: all 0.2s cubic-bezier(0, 0, 0, 1);
}