//Fonts
$primary: 'Open Sans', sans-serif;

//Colours
$white: #ffffff;
$black: #303030;
$grey: #f2f2f2;
$blue: #2B6C8F;
$teal: #008D9B;
$teal2: #0E8297;
$purple: #594981;
$purple2: #7C3078;


//Backgrounds
.black {background:$black;}
.grey {background:$grey;}
.blue {background:$blue; transition: all 0.5s cubic-bezier(0, 0, 0, 1);
    &:hover, &:focus { background: darken($blue, 10%) }
}
.teal {background:$teal; transition: all 0.5s cubic-bezier(0, 0, 0, 1);
    &:hover,&:focus {background:darken($teal, 10%);}
}
.teal2 {background:$teal2; transition: all 0.5s cubic-bezier(0, 0, 0, 1);
    &:hover,&:focus {background:darken($teal2, 10%);}
}
.purple {background:$purple; transition: all 0.5s cubic-bezier(0, 0, 0, 1);
    &:hover,&:focus {background:darken($purple, 10%);}
}
.purple2 {background:$purple2; transition: all 0.5s cubic-bezier(0, 0, 0, 1);
    &:hover,&:focus {background:darken($purple2, 10%);}
}

.c-white {color:$white;}